.feed {
  flex: 0.5;
  border-right: 1px solid var(--twitter-background);
  /* border: 1px solid red; */
  min-width: fit-content;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.feed__header {
  position: sticky;
  top: 0;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  /* padding: 15px 20px; */
  background-color: white;
  padding-left: 10px;
}

.feed::-webkit-scrollbar {
  display: none;
}
