.sidebar {
  border-right: 1px solid var(--twitter-background);
  flex: 0.2;
  min-width: 250px;
  margin-top: 20px;
  padding: 0 20px;
  /* border: 1px solid red; */
}

.sidebar__twitterIcon {
  color: var(--twitter-color);
  padding: 0 20px;
  margin-bottom: 20px;
}

.sidebar--tweet {
  background-color: var(--twitter-color) !important;
  border: none !important;
  font-weight: 900 !important;
  color: white !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  width: 70% !important;
  margin-top: 20px !important;
  margin-left: 15px !important;
}
