.tweetbox {
  border-bottom: 8px solid var(--twitter-background);
  padding-bottom: 10px;
  padding-right: 10px;
}

.tweetbox__input {
  display: flex;
  padding: 20px;
}
.tweetbox__input > input {
  flex: 1;
  margin-left: 20px;
  border: none;
  font-size: 20px;
}

.tweetbox__input > input:focus {
  border: none;
}

.tweetbox_button {
  display: flex !important;
  background-color: var(--twitter-color) !important;
  border: none !important;
  font-weight: 900 !important;
  color: white !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 40px !important;
  width: 80px;
  margin-top: 20px !important;
  margin-left: auto !important;
}
